.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 100;

  background: linear-gradient(
    135deg,
    rgba(14, 14, 14, 0.88) 0%,
    rgba(6, 6, 6, 0.88) 100%
  );
  backdrop-filter: blur(16px);
  color: white;
  font-size: 1.25rem;
}

.loader img {
  animation: 1.5s rotate linear infinite;
  display: block;
  margin: 1rem auto;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
